<h1>Counter</h1>

<p>Welcome to Chirpus Pizza!</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<br/>
<br/>

<table class='table table-striped'>
  <thead>
  <tr>
    <td><b>Item Name</b></td>
    <td><b>Category</b></td>
    <td><b>Price</b></td>
  </tr>
    </thead>
  <tbody>
    <tr *ngFor="let item of theMenuItems">
      <td>{{ item.ItemName}}</td>
      <td>{{ item.Category}}</td>
      <td>${{ item.Price}}</td>
    </tr>

  </tbody>
</table>
